In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Read Iris CSV file
file_path = "Resources/iris.csv"
iris_df = pd.read_csv(file_path)
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [3]:
# Drop class column as unsupervised learning only deals with numerical data
iris_df = iris_df.drop(['class'], axis=1)
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [4]:
# Reorder columns so that sepal and petal lengths are the first two columns and width is last
iris_df = iris_df[['sepal_length','petal_length','sepal_width','petal_width']]
iris_df

     sepal_length  petal_length  sepal_width  petal_width
0             5.1           1.4          3.5          0.2
1             4.9           1.4          3.0          0.2
2             4.7           1.3          3.2          0.2
3             4.6           1.5          3.1          0.2
4             5.0           1.4          3.6          0.2
..            ...           ...          ...          ...
145           6.7           5.2          3.0          2.3
146           6.3           5.0          2.5          1.9
147           6.5           5.2          3.0          2.0
148           6.2           5.4          3.4          2.3
149           5.9           5.1          3.0          1.8

[150 rows x 4 columns]

In [6]:
# Create CSV file of preprocessed data
output_file_path = "Resources/new_iris_data.csv"
iris_df.to_csv(output_file_path, index=False)